.info {
 text-align: center;
 
}

.client {
    border: solid 3px;
   margin-left :300px;
   margin-right :300px;
}


.dossier {
    border: solid 3px;
    margin-left :300px;
    margin-right :300px;
}

 h1{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.collaborateur {
    border: solid 3px;
    margin-left :300px;
    margin-right :300px;
}

.adversaire {
    border: solid 3px;
    margin-left :300px;
    margin-right :300px;
}

h3{
    color: black;
}

p{
    color: black; 
}


